*.h5
.nfs*
*.gif
*.csv
__pycache__
evaluation/MTF/plot_mtf_cutoffs_compare.py
.vscode
*.m~
*.html
*-checkpoint.ipynb
results
evaluation/LCD/.ipynb_checkpoints/plot_LCD_v2-checkpoint.py
test
mirt-main
main
.venv
octave-workspace
build
docs/build
src/pediatricIQphantoms/.ipynb_checkpoints/
src/pediatricIQphantoms.egg-info/
.ipynb_checkpoints
notebooks/data